@media print {
    /* Oculta toda la página */
    body * {
        visibility: hidden !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    /* Muestra solo el modal */
    #modal-reporte, 
    #modal-reporte * {
        visibility: visible !important;
    }

    /* Poner el modal como página completa */
    #modal-reporte {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        background: white !important;
        box-shadow: none !important;
        margin: 0 !important;
        padding: 20px !important;
    }
}

:root {
    --color-surface: #ffffff; /* Tema claro */
}

.dark {
    --color-surface: #1a1f2b; /* Tema oscuro */
}

.table-wrapper {
    max-height: 350px;
    overflow-y: auto;
}

.table-sticky thead th {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--color-surface);
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 10;
}